body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.table-title {
  color: #072589;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.data-table {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  color: #000000;
  padding: 40px;
}

.section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0 !important;     
  justify-content: center;
  background-color: white;
  text-align: left;
}

.section p {
color: #000000;
}

.section h1, 
.section h2,
.section h4 {
  color: #072589;
  font-weight: bold;
  margin-bottom: 10px;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 2rem;
}

.section h3 {
  font-size: 1.7rem;
}

.section h4 {
  font-size: 1.4rem;
}

.section .markdown-text {
    color:#000000
}

.section-title {
  gap: 10px;
  padding: 30px 60px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 0 !important;        
  background-color: white;
  text-align: left;
  box-sizing: border-box;
  width: 100%;   
} 

.section-title h2,
.section-title h4 {
  color: #072589;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-title h1 {
  font-size: 2.5rem;
}

.section-title h2 {
  font-size: 2rem;
}

.section-title h3 {
  font-size: 1.7rem;
}

.section-title h4 {
  font-size: 1.4rem;
}

.sidebar {
    width: 40%;
    padding: 40px;
    background-color: white;
}

.sidebar h2,
.sidebar h3,
.sidebar h4 {
  color: #072589;
}
.sidebar .markdown-text {
  color: #000000;
}

.visual {
    width: 60%;
    padding: 40px;
    padding-top: 80px;
    background-color: white;
    border-radius:10px;
    margin-bottom: 30px;
    color: #072589;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.full-width-text {
  width: 100%;
  padding: 30px 60px 30px 60px;  /* top, right, bottom, left */
  background-color: #E2E6E9;
  color: #000000;
  box-sizing: border-box;
}

.full-width-text h1 {
  color: #072589;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10px;
  margin-top: 0;  /* Remove excess top margin */
}

.full-width-text h2 {
  color: #072589;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}

.full-width-text h4 {
  color: #072589;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.full-width-text p {
  color: #000000;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.insight-box {
  background-color: #6BF58B;
  color: #072589;
  padding: 20px 30px;
  text-align: left;
  margin: 40px auto;
  max-width: 900px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  width: 900px;       
  border-radius: 0;    
}

.insight-box h4 {
  font-size: 1.25rem;
}
.insight-box p {
  font-size: 1.1rem
}


.notes-sidebar {
  width: 50%;
  padding: 20px;
  background-color: #E2E6E9;
  color: #000000;
}

.notes-sidebar h2 {
  color: #072589;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}

.notes-sidebar h4 {
  color: #072589;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.notes-visual {
    width: 50%;
    padding: 40px;
    background-color: #E2E6E9;
    border-radius:10px;
    margin-bottom: 30px;
    color: #072589;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.notes-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 30px 60px 30px 60px;
  justify-content: center;
  background-color: #E2E6E9;
  color:#000000;
}

.notes-section h4,
.notes-section h2 {
  color: #072589;
  font-weight: bold;
}


